.customizble {
    width: 28%;
}

@media (max-width: 1280px) {}

@media (max-width: 1024px) {
    .customizble{
        display: none;
    }
}

@media (max-width: 767px) {
    .customizble{
        display: none;
    }
}

@media (max-width: 479px) {
    .customizble{
        display: none;
    }
}